<ion-view>
	<ion-nav-title>
        {{mainbuttontitle | capitalize}}
    </ion-nav-title>
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-android-arrow-back nav-icon" ng-click="backbiblequotespage()"></button>
    </ion-nav-buttons>
    <ion-content class="padding">
        <label class="item item-input">
            <input type="text" placeholder="Enter Title" ng-model="biblequotescreatevalues.title">
        </label>
            <textarea placeholder="Enter Text" ng-model="biblequotescreatevalues.text" ui-tinymce="tinymceOptions">
            </textarea>
            <button class="button button-full button-positive" on-touch="addbiblequotescontent();">
                Create
            </button>
    </ion-content>
  </ion-view>