<ion-modal-view> 
    <ion-header-bar class="bar-positive custom-dark">
      <h1 class="title">Add</h1>
      <div class="buttons">
          <button class="button button-icon ion-close-circled nav-icon" ng-click="closeModal();"></button>
      </div>
    </ion-header-bar>
    <ion-content class="padding">
            <label class="item item-input">
                <input type="text" placeholder="Enter Name" ng-model="buttoncreatevalues.title">
            </label><br />
            <button class="button button-full button-positive" on-touch="createbutton();">
                Create
            </button>
    </ion-content>
  </ion-modal-view>



  

  
