
<ion-view>
    <ion-nav-title class="custom-white">
        {{mainbuttontitle}}
    </ion-nav-title>
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon button-clear ion-navicon nav-icon" on-touch="toggleLeftSideMenu()"></button>
    </ion-nav-buttons>
    
    <ion-nav-buttons side="right">
        <!--<i class="icon ion-ios-plus-outline custom-addapp" ui-sref="appcreate" ng-show="iflogin"></i>-->
        <!--<button class="button button-assertive" ui-sref="appcreate" ng-show="iflogin">
        New App
      </button>-->
    </ion-nav-buttons>
    <ion-side-menus>
        <ion-side-menu-content style="background-color:#fee8c1;">
            
            <ion-content class="padding">




                <form name="checkoutForm" stripe-form="stripeCallback" ng-submit="onSubmit()" data-abide>

	<div ng-if="processing" us-spinner></div>


		<h3>User Information</h3>

		<div class="list list-inset">
                <label class="item item-input">
                <input ng-model="donationgetvalues.name" type="text" placeholder="Name">
                </label>
                <label class="item item-input">
                <input ng-model="donationgetvalues.address" type="text" placeholder="Address">
                </label>
                <label class="item item-input">
                <input ng-model="donationgetvalues.email" type="email" placeholder="Email">
                </label>
                <label class="item item-input">
                <input ng-model="donationgetvalues.mobile" type="number" placeholder="Mobile">
                </label>
        </div>
<!-- 
			<label class="large-12 columns">Name
				
			</label>

			<label class="large-12 columns">Address
				
			</label>
			<label class="large-12 columns">Email
				<input ng-model="email" type="email" placeholder="Address">
			</label>
			<label class="large-12 columns">Mobile
				<input ng-model="number" type="number" placeholder="Address">
			</label> -->
		
	

	
		<h3>Payment Information</h3>

			<!-- <div class="large-6 columns" ng-class="{error: checkoutForm.number.$invalid}">
				<label>Amount
					<input ng-model="amount" 
					       placeholder="Amount" type="number"/>
				</label>
				<small class="error">Invalid card number</small>
			</div> -->


            <div class="list list-inset">
                <label class="item item-input">
                <input ng-model="donationgetvalues.amount" name="amount" type="number" placeholder="Amount"/>
                </label>
                <label class="item item-input">
                <input ng-model="number" name="number" payments-format="card" payments-validate="card"
                           placeholder="Credit Card Number" type="text"/>
                </label>
                <label class="item item-input">
                <input ng-model="expiry" name="expiry" payments-format="expiry" payments-validate="expiry"
                           placeholder="Expiry" type="text"/>
                </label>
                <label class="item item-input">
                <input ng-model="cvc" name="cvc" payments-format="cvc" payments-validate="cvc"
                           placeholder="CVC" type="text"/>
                </label>
        </div>

			<!--<div class="large-6 columns" ng-class="{error: checkoutForm.number.$invalid}">
				<label>Card Information
					<input ng-model="number" name="number" payments-format="card" payments-validate="card"
					       placeholder="Card Number" type="text"/>
				</label>
				<small class="error">Invalid card number</small>
			</div>
			<div class="large-3 columns" ng-class="{error: checkoutForm.expiry.$invalid}">
				<label>Expiry
					<input ng-model="expiry" name="expiry" payments-format="expiry" payments-validate="expiry"
					       placeholder="Expiry" type="text"/>
				</label>
				<small class="error">Invalid date.</small>
			</div>
			<div class="large-3 columns" ng-class="{error: checkoutForm.cvc.$invalid}">
				<label>CVC
					<input ng-model="cvc" name="cvc" payments-format="cvc" payments-validate="cvc"
					       placeholder="CVC" type="text"/>
				</label>
				<small class="error">Invalid CVC.</small>
			</div>

			<div class="large-12 columns">
				<strong>
					Amount to pay: 220$
				</strong>
			</div>-->
		
	

	<!-- <alert ng-if="stripeError" type="'alert'" close="hideAlerts()">
		Stripe returned an error: 
	</alert>

	<alert ng-if="stripeToken" close="hideAlerts()">
		Stripe successfully acquired! Token: 
	</alert> -->

	<!-- <div class="row">
		<div class="col col-50">
			<button class="cancel" ng-click="$dismiss();">Cancel</button>
        </div>
        <div class="col col-50">			
			<button type="submit" ng-disabled="checkoutForm.$invalid">Place Order</button>
		</div>	
		
	</div> -->

    <button type="submit" ng-disabled="checkoutForm.$invalid" class="button button-full button-positive">
                        Pay
    </button>

</form><br /><br /><br /><br /><br />
<br /><br /><br /><br /><br />
<br /><br /><br /><br /><br />
            </ion-content>
            <div class="bar bar-footer" style="background:none;" ng-show="iflogin">
                <h1 class="title"> </h1>
                <button class="button button-small ion-ios7-plus-outline button-positive" ng-click="editsliderpage()" style="margin-top:4px;">
                    &nbsp;&nbsp;Edit&nbsp;&nbsp;
                </button>
            </div>
        </ion-side-menu-content>
        
        <ion-side-menu side="left" style="background-color:#fee8c1;">
            
            <ion-content class="has-subfooter">
                <ion-list ng-show="mainmenus">
                    <ion-item menu-close ng-click="clickmainmenu(items);" ng-repeat="items in $root.allbuttons">
                        <div class="row">
                            <div class="col col-90">
                                {{items.title}}
                            </div>
                            <div class="col col-10" ng-if="$root.mainbuttonid==items.id">
                                <i class="icon ion-ios-circle-filled custom-selectmainmenu"></i>
                            </div>
                        </div>
                    </ion-item>
                </ion-list>
                
                <ion-list ng-show="deletemenus">
                    <ion-item menu-close ng-click="deletethisbutton(items);" ng-repeat="items in $root.allbuttons">
                       <div class="row">
                           <div class="col col-90">
                               {{items.title}}
                           </div>
                           <div class="col col-10">
                               <i class="icon ion-trash-a custom-icon"></i>
                           </div>
                       </div>
                    </ion-item>
                </ion-list>
                <ion-list ng-show="editmenus">
                    <ion-item menu-close  ng-repeat="items in $root.allbuttons" ng-click="editthisbutton(items)">
                        
                        <div class="row">
                            <div class="col col-90">
                                {{items.title}}
                            </div>
                            <div class="col col-10">
                                <i class="icon ion-edit custom-icon"></i>
                            </div>
                            
                        </div>
                    </ion-item>
                </ion-list>
                
                
                
                
                <ion-list ng-show="reordermenus" show-reorder="true">
                    <ion-item menu-close  ng-repeat="items in $root.allbuttons">
                        
                        <div class="row">
                            <div class="col col-90" ng-click="editthisbutton(items)">
                                {{items.title}}
                            </div>
                           
                            <div class="col col-10">
                                <ion-reorder-button class="ion-navicon"
                                    on-reorder="moveItem(items, $fromIndex, $toIndex)">
                                </ion-reorder-button>
                            </div>
                        </div>
                    </ion-item>
                </ion-list>
            </ion-content>
            
            
            <div class="bar bar-subfooter" ng-show="iflogin">
                <div class="row" style="padding:0;">
                    <div style="width:45%;">
                        <button class="button button-small ion-ios-plus-outline button-positive" style="width:100%;" ng-click="addbutton();">&nbsp;Add Menu</button>
                    </div>
                    <div style="width:10%;"></div>
                    <div style="width:45%;">
                        <button class="button button-small ion-log-in button-positive" style="width:100%;" on-touch="logout();">&nbsp;Log Out</button>
                    </div>
                </div>
            </div>
            
            
            <div class="bar bar-subfooter" ng-show="ifloginwithreorder">
                <div class="row" style="padding:0;">
                    <div style="width:45%;">
                        <button class="button button-small ion-ios-drag button-positive" style="width:100%;" ng-click="reorder();">&nbsp;Reorder Menu</button>
                    </div>
                    <div style="width:10%;"></div>
                    <div style="width:45%;">
                        <button class="button button-small ion-log-in button-positive" style="width:100%;" on-touch="logout();">&nbsp;Log Out</button>
                    </div>
                </div>
            </div>
            
            <div class="bar bar-footer" ng-show="iflogin">
                <div class="row" style="padding:0;">
                    <div style="width:45%;">
                        <button class="button button-small ion-edit button-positive" style="width:100%;" ng-click="editbuttons();">&nbsp;Edit Menu</button>
                    </div>
                    <div style="width:10%;"></div>
                    <div style="width:45%;">
                        <button class="button button-small ion-ios-close-outline button-positive" style="width:100%;" on-touch="deletebuttons();">&nbsp;Delete Menu</button>
                    </div>
                </div>
            </div>
            
            <div class="bar bar-footer" ng-show="ifnotlogin">
                <div class="row" style="padding:0;">
                    <div style="width:45%;">
                        <button class="button button-small ion-log-in button-positive" style="width:100%;" on-touch="gologin();">&nbsp;Log In</button>
                    </div>
                    <div style="width:10%;"></div>
                    <div style="width:45%;">
                        
                    </div>
                </div>
                
            </div>
        </ion-side-menu>
    </ion-side-menus>
    
</ion-view>





