

<ion-view>
<ion-nav-title>
        {{mainbuttontitle}}
</ion-nav-title>
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon nav-icon" on-touch="toggleLeftSideMenu()"></button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
        <!--        <button class="button button-icon ion-more" ng-click="openPopoversermons($event)"></button>-->
    </ion-nav-buttons>
    <ion-side-menus>
        <ion-side-menu-content style="background-color:#fee8c1;">
            
            <ion-content>

                <h4 style="font-weight: bold;">{{$root.buttoncontent.elements[0].title}}</h4>
                <!--<img src="{{$root.buttoncontent.elements[0].images[0].url}}" style="width:100%;height:auto;max-height: 33%;">-->

                <div style="height: 220px;background-image: url('{{$root.buttoncontent.elements[0].images[0].url}}');background-size: cover;background-repeat: no-repeat;background-position: 50% 50%;"></div>

                    <div ng-bind-html="$root.buttoncontent.elements[0].text" class="padding" style="text-align: justify;
    text-justify: inter-word;">
                        
                    </div>
                    <br /><br /><br /><br /><br /><br />
            </ion-content>
            <div class="bar bar-footer" style="background:none;" ng-show="iflogin">
                <h1 class="title"> </h1>
                <button class="button button-small ion-ios7-plus-outline button-positive" ng-click="editimageandtextpage($root.buttoncontent.elements[0].images[0].url)" style="margin-top:4px;">
                    &nbsp;&nbsp;Edit&nbsp;&nbsp;
                </button>
            </div>
            <div class="bar bar-footer" ng-show="ifnotlogin"> 
               <h2 class="title">
               <img src="img/myappbuilder.png" alt="" style="width:110px;height:40px;"/>
               </h2>
            </div>
        </ion-side-menu-content>
        
        <ion-side-menu side="left" style="background-color:#fee8c1;">
            
            <ion-content class="has-subfooter">
                <ion-list ng-show="mainmenus">
                    <ion-item menu-close ng-click="clickmainmenu(items);" ng-repeat="items in $root.allbuttons">
                        <div class="row">
                            <div class="col col-90">
                                {{items.title}}
                            </div>
                            <div class="col col-10" ng-if="$root.mainbuttonid==items.id">
                                <i class="icon ion-ios-circle-filled custom-selectmainmenu"></i>
                            </div>
                        </div>
                    </ion-item>
                </ion-list>
                
                <ion-list ng-show="deletemenus">
                    <ion-item menu-close ng-click="deletethisbutton(items);" ng-repeat="items in $root.allbuttons">
                        <div class="row">
                            <div class="col col-90">
                                {{items.title}}
                            </div>
                            <div class="col col-10">
                                <i class="icon ion-trash-a custom-icon"></i>
                            </div>
                        </div>
                    </ion-item>
                </ion-list>
                <ion-list ng-show="editmenus">
                    <ion-item menu-close  ng-repeat="items in $root.allbuttons" ng-click="editthisbutton(items)">
                        
                        <div class="row">
                            <div class="col col-90">
                                {{items.title}}
                            </div>
                            <div class="col col-10">
                                <i class="icon ion-edit custom-icon"></i>
                            </div>
                            
                        </div>
                    </ion-item>
                </ion-list>
                
                
                
                
                <ion-list ng-show="reordermenus" show-reorder="true">
                    <ion-item menu-close  ng-repeat="items in $root.allbuttons">
                        
                        <div class="row">
                            <div class="col col-90" ng-click="editthisbutton(items)">
                                {{items.title}}
                            </div>
                            
                            <div class="col col-10">
                                <ion-reorder-button class="ion-navicon"
                                    on-reorder="moveItem(items, $fromIndex, $toIndex)">
                                </ion-reorder-button>
                            </div>
                        </div>
                    </ion-item>
                </ion-list>
            </ion-content>
            
            
            <div class="bar bar-subfooter" ng-show="iflogin">
                <div class="row" style="padding:0;">
                    <div style="width:45%;">
                        <button class="button button-small ion-ios-plus-outline button-positive" style="width:100%;" ng-click="addbutton();">&nbsp;Add Menu</button>
                    </div>
                    <div style="width:10%;"></div>
                    <div style="width:45%;">
                        <button class="button button-small ion-log-in button-positive" style="width:100%;" on-touch="logout();">&nbsp;Log Out</button>
                    </div>
                </div>
            </div>
            
            
            <div class="bar bar-subfooter" ng-show="ifloginwithreorder">
                <div class="row" style="padding:0;">
                    <div style="width:45%;">
                        <button class="button button-small ion-ios-drag button-positive" style="width:100%;" ng-click="reorder();">&nbsp;Reorder Menu</button>
                    </div>
                    <div style="width:10%;"></div>
                    <div style="width:45%;">
                        <button class="button button-small ion-log-in button-positive" style="width:100%;" on-touch="logout();">&nbsp;Log Out</button>
                    </div>
                </div>
            </div>
            
            <div class="bar bar-footer" ng-show="iflogin">
                <div class="row" style="padding:0;">
                    <div style="width:45%;">
                        <button class="button button-small ion-edit button-positive" style="width:100%;" ng-click="editbuttons();">&nbsp;Edit Menu</button>
                    </div>
                    <div style="width:10%;"></div>
                    <div style="width:45%;">
                        <button class="button button-small ion-ios-close-outline button-positive" style="width:100%;" on-touch="deletebuttons();">&nbsp;Delete Menu</button>
                    </div>
                </div>
            </div>
            
            <div class="bar bar-footer" ng-show="ifnotlogin">
                <div class="row" style="padding:0;">
                    <div style="width:45%;">
                        <button class="button button-small ion-log-in button-positive" style="width:100%;" on-touch="gologin();">&nbsp;Log In</button>
                    </div>
                    <div style="width:10%;"></div>
                    <div style="width:45%;">
                        
                    </div>
                </div>
                
            </div>
        </ion-side-menu>
    </ion-side-menus>
    
</ion-view>

