<ion-view>
<ion-nav-title>
        {{mainbuttontitle | capitalize}}
</ion-nav-title>
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-android-arrow-back nav-icon" ng-click="backimageanddescriptionlistaddpage()"></button>
    </ion-nav-buttons>
    <ion-content class="padding">
     
        <label class="item item-input">
            <input type="text" placeholder="Enter Title" ng-model="imagewithdescriptionaddvalues.title">
        </label><br />
        <div align="center" on-touch="showActionsheet();">
            <img src="img/btn_image.png" id="selectedimage" style="width:114px;height:114px;" />
        </div>
            <textarea  ng-model="imagewithdescriptionaddvalues.text" ui-tinymce="tinymceOptions">
            </textarea>
            <button class="button button-full button-positive" on-touch="imagewithdescriptionlistadd();">
                Add
            </button>
    </ion-content>
   
  </ion-view>